html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
}

body {
    background-color: rgb(60, 60, 60);
    min-width: 720px;
    font-size: 14px;
}

#nowPlayingBarContainer {
    width: 100%;
    min-width: 620px;
    background-color: rgb(50, 50, 50);
    position: fixed;
    bottom: 0;
}

#nowPlayingBar {
    display: flex;
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}

#nowPlayingBar .content {
    width: 100%;
}

.playerControls .buttons {
    margin: 0 auto;
    display: table;
}

#left,
#right {
    width: 30%;
    min-width: 180px;
}

#right {
    position: relative;
    margin-top: 16px;
}

#middle {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons .controlButton {
    background-color: transparent;
    vertical-align: middle;
    border: none;
}

.controlButton img {
    width: 20px;
    height: 20px;
}

.controlButton:hover {
    cursor: pointer;
}

.controlButton.play img,
.controlButton.pause img {
    width: 30px;
    height: 30px;
}

.playbackBar .progressBar {
    height: 6px;
    display: inline-flex;
    cursor: pointer;
    width: 100%;
    margin-top: 4px;
}

.playbackBar {
    display: flex;
}

.playbackBar .progressTime.current,
.progressTime.remaining {
    color: white;
    font-size: 12px;
    min-width: 40px;
    text-align: center;
}

.playbackBar .progressBar .progressBarBackground {
    background-color: rgb(70, 70, 70);
    width: 100%;
    border-radius: 2px;
}

.progress {
    background-color: white;
    border-radius: 2px;
    width: 0%;
    height: 6px;
}

.albumLink img {
    height: 100%;
    min-width: 57px;
    margin-right: 15px;
    float: left;
}

.trackInfo .artistName {
    color: grey;
    display: inline-block;
    width: 100%;
    font-size: 12px;
}

.trackInfo .trackName span {
    color: white;
    margin: 6px 0;
    font-size: 21px;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

.volumeBar .controlButton {
    background-color: transparent;
    vertical-align: middle;
    border: none;
}

.volumeBar {
    width: 180px;
    position: absolute;
    right: 0;
}

.volumeBar .progressBar {
    cursor: pointer;
    display: inline-flex;
    height: 9px;
    width: 125px;
}

.volumeBar .progressBar .progressBarBackground {
    background-color: rgb(70, 70, 70);
    border-radius: 2px;
    width: 180px;
}

.volumeBar .progressBar .progress {
    background-color: white;
    border-radius: 2px;
    width: 0%;
    height: 9px;
}

#navBarContainer {
    background-color: black;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
}

.navBar {
    background-color: transparent;
    border: none;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 40px;
}

.logo img {
    width: 40px;
    height: 40px;
    padding-bottom: 10px;
}

.navBar .group {
    padding: 10px 0;
    border-top: 1px solid;
}

.navBar .navItem {
    padding: 10px 0;
    font-weight: 700;
    font-size: 18px;
    display: block;
    letter-spacing: 1px;
    position: relative;
}

.navItemLink {
    text-decoration: none;
    padding: 10px 0;
    color: grey;
}

.navItemLink:hover {
    color: white;
}

.icon {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 5px;
}

#mainViewContainer {
    margin-left: 250px;
    padding-bottom: 90px;
    width: calc(100% - 250px);
}

#mainContent {
    padding: 0 20px;
}

.gridViewItem {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 29%;
    max-width: 200px;
    min-width: 150px;
}

.gridViewItem img {
    width: 100%;
}

.artworkInfo {
    font-weight: 300;
    text-align: center;
    padding: 10px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.gridViewItem a {
    text-decoration: none;
    color: white;
}

.entityInfo {
    width: 100%;
    padding: 40px 0 10px 0;
    display: inline-block;
}

.entityInfo .leftSection {
    width: 30%;
    float: left;
    max-width: 250px;
}

.entityInfo .leftSection img {
    width: 100%;
}

.entityInfo .rightSection {
    width: 70%;
    float: left;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
}

.entityInfo .rightSection p {
    color: darkgrey;
    font-weight: 200;
}

.tracklist {
    padding: 0;
}

.tracklistRow {
    padding: 15px 10px;
    list-style: none;
    height: 40px;
}

.tracklistRow span {
    font-weight: 200;
    color: darkgrey;
}

.tracklistRow:hover {
    background-color: rgb(50, 50, 50);
}

.tracklistRow .trackCount {
    width: 8%;
    float: left;
}

.tracklistRow .trackCount img {
    visibility: hidden;
    cursor: pointer;
    position: absolute;
    width: 20px;
}

.tracklistRow:hover .trackCount img {
    visibility: visible;
}

.tracklistRow .trackCount span {
    visibility: visible;
}

.tracklistRow:hover .trackCount span {
    visibility: hidden;
}

.tracklistRow .trackOptions .optionsButton img {
    visibility: hidden;
    width: 15px;
    cursor: pointer;
}

.tracklistRow:hover .trackOptions .optionsButton img {
    visibility: visible;
}

.trackInfo {
    width: 75%;
    float: left;
    display: table;
}

.trackInfo span {
    display: block;
}

.trackInfo .trackName {
    color: white;
}

.tracklistRow .trackOptions {
    float: left;
    width: 5%;
    text-align: right;
}

.tracklistRow .trackDuration {
    width: 12%;
    float: left;
    text-align: right;
}

.entityInfo .centerSection {
    text-align: center;
}

.entityInfo .button {
    letter-spacing: 2px;
    border: none;
    background-color: green;
    width: 8%;
    height: 8%;
    border-radius: 200px;
    cursor: pointer;
    font-weight: 500;
    padding: 15px;
    min-width: 130px;
    color: white;
}

.entityInfo .button.green {
    background-color: green;
}

.entityInfo .button:hover {
    background-color: greenyellow;
}

.borderBottom {
    border-bottom: 1px solid darkgrey;
    margin-bottom: 15px;
}

.gridViewContainer h2,
.tracklistContainer h2,
.artistsContainer h2 {
    text-align: center;
}

[role="link"] {
    cursor: pointer;
}

.searchContainer {
    background-color: rgb(70, 70, 70);
    padding: 20px 20px;
}

.searchContainer h3 {
    font-weight: 300;
    margin: 0;
}

.searchContainer .searchInput {
    background-color: transparent;
    width: 100%;
    border: none;
    font-size: 60px;
    letter-spacing: 2px;
    font-weight: 700;
    color: white;
}

input:focus {
    outline: none;
}

.searchResultRow {
    padding: 10px 15px;
}

.noResult {
    display: block;
    margin: 15px;
}